.footer{
    background-color: $dark-yellow;
}
.section{
    font-family: ClanOffcBook;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}